.bg-orange {
    background-color: #f5c248;
}

.bg-black {
    background-color: #000;
}

.home-element-66 .bg-orange .title a{
    color: #000;
}

.home-element-66 .bg-orange .title{
    color: #000;
}

.home-element-66 .bg-orange .description a{
    color: #000;
}

.home-element-padding {
    padding: 20px 0px;
}

.home-element-66 .col-md-4 img{
    width: 140px;
}

.home-element-66 .col-md-8 img{
    width: 60px;
    height: 42px;
}

.home-element-66 .title{
    color: white;
    font-size: 24px;
    font-weight: 400;
}

.home-element-66 .title a{
    color: white;
}

.home-element-66 .title a:hover{
    color: #000;
    text-decoration: underline;
}

/* .home-element-66 .description:hover{
    color: #000;
    text-decoration: underline;
} */

.home-element-66 .description {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}

.home-element-66 .widget {
    position: absolute;
    bottom: 0;
    right: 0;
}

.home-element-66 .widget img:hover{
    opacity: 0.9;
}

.home-element-66 .bg-black .title a:hover{
    color: #f5c248;
    text-decoration: underline;
}

.home-element-66 .bg-black .description{
    color: #FFFFFF;
}

.padding-x-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.card-section .sub-title {
    font-size: 18px;
    color: #000;
    line-height: 36px;
}

.card-section .sub-title a:hover {
    color: #f5c248;
    cursor: pointer;
}

.card-section .btn {
    font-size: 15px;
    font-weight: 500;
}

.card-section .btn-odd {
    background-color: #f5c248;
    color: #000;
}

.card-section .btn-odd:hover {
    opacity: 0.8;
}

.card-section .btn-even {
    background-color: #000;
    color: #fff;
}

.card-section .btn-even:hover {
    opacity: 0.8;
}